.dung-chung{
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
}
a.navbar-brand {
    padding-left: 100px;
}
.collapse.navbar-collapse.navbar-ex1-collapse {padding-right: 100px;}
.form_login_quy{
	background-color: 	#A9A9A9;
	width: 100%;
	height: 100%;
	padding: 20px;
}
#text1{
	text-align: left;
	margin-left: 85px;
}
.header-images-index2{
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    height: 645px;
    background-size: cover;
}
.banner2-img {
    width: 100%;
    height: 250px;
    text-align: center;
    background: url(../img/banner2.png);
    background-size: cover;
    margin-top: 30px;
    position: relative;
}
form.form-banner2-img {
    position: absolute;
    width: 100%;
    top: 70px;
}
.btn.submit_Signup{
	background-color: #7bb700;
	width: 300px;
	border-style: inset;
	border-color: #fdfdfd;
}
.block_left{
	float: left;
}
.block_right{
	float: right;
	/*padding: 10px;*/
}

.w40{
	width: 40%;
}
.w60{
	width: 60%;
	text-align: right;
}
select#input {
    width: 100%;
}
.style-of-text-botton-header button{
	width: 100%;
	text-align: left;
}
.container.text-botton-header {
    text-align: center;
    position: absolute;
    top: 400px;
}
/*.chap1{
	background-color: #e2e1e1;
}
*/
.chap1_1{
	background-color: #f0f0f0;
	position: relative;
	margin: 0 auto;
}
.banner-img{
	padding: 20px 0px 20px 0px;
}
p.copyright.text-muted.small {
    text-align: center;
}
.dung-chung.hinh-giua {
    margin-left: 160px;
    margin-right: 160px;
}
input.button {
    background-color: #2700ff;
}